<div class="card">
  <h3>Manage Tasks</h3>

  <table>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Staff</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let task of tasks">
      <td>{{task.id}}</td>
      <td>{{task.description}}</td>
      <td>{{task.staff}}</td>
      <td>{{task.status}}</td>
      <td>
       <button class="task-btn task-btn-complete"
        (click)="markComplete(task)"
        [disabled]="task.status==='Completed'" [ngClass]="{'btn-faded': task.status==='Completed'}"> {{ task.status === 'Completed' ? 'Completed' : 'Complete' }}</button>

<button class="task-btn task-btn-delete"
        (click)="deleteTask(task.id)">Delete</button>


      </td>
    </tr>
  </table>

  <!-- Task Form embedded below the list -->
  <app-doctor-task-form></app-doctor-task-form>
  
</div>
